<h1>testing</h1>

<h3>Here is a list of all users</h3>
<table>
    <tr>
        <th>Email</th>
        <th>Sign in Counter</th>
        <th>Date Account Created</th>
        <th>Last IP Address</th>
    </tr>
    <%= @users.each do |user| %>
        <tr>
            <td><%= user.email %></td>
            <td><%= user.sign_in_count %></td>
            <td><%= user.created_at %></td>
            <td><%= user.last_sign_in_ip %></td>
        </tr>
    <% end %>
</table>